<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dịch Vụ | Masova Hotel</title>

        <link rel="shortcut icon" type="image/x-icon" href="assets/images/icon.png" />
        <link rel="icon" type="image/x-icon" href="assets/images/icon.png" />
        <meta id="MetaDescription" name="description" content="Tọa lạc tại thành phố Nha Trang, MASOVA HOTEL cung cấp chỗ nghỉ 4 sao với nhà hàng và quầy bar. Khách sạn này nằm gần Trung tâm Thuyền buồm Việt Nam và cách quán Sailing Club chưa đầy 1 km. Chỗ nghỉ này có WiFi miễn phí." />
        <meta id="MetaKeywords" name="keywords" content="Tọa lạc tại thành phố Nha Trang, MASOVA HOTEL cung cấp chỗ nghỉ 4 sao với nhà hàng và quầy bar. Khách sạn này nằm gần Trung tâm Thuyền buồm Việt Nam và cách quán Sailing Club chưa đầy 1 km. Chỗ nghỉ này có WiFi miễn phí." />
        <link id="ImageLink" rel="image_src" type="image/jpg" href="https://demo.sweetsoft.vn/masova-hotel/assets/images/share.jpg" />
        
        <meta property="og:url" content="https://demo.sweetsoft.vn/masova-hotel/index.htm" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Dịch Vụ | Masova Hotel" />
        <meta property="og:description" content="Tọa lạc tại thành phố Nha Trang, MASOVA HOTEL cung cấp chỗ nghỉ 4 sao với nhà hàng và quầy bar. Khách sạn này nằm gần Trung tâm Thuyền buồm Việt Nam và cách quán Sailing Club chưa đầy 1 km. Chỗ nghỉ này có WiFi miễn phí." />
        <meta property="og:image" content="https://demo.sweetsoft.vn/masova-hotel/assets/images/share.jpg" />
        <meta property="og:image:alt" content="Masova Hotel" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="" />

        <meta name="twitter:card" content="https://demo.sweetsoft.vn/masova-hotel/assets/images/share.jpg" />
        <meta name="twitter:title" content="Dịch Vụ | Masova Hotel" />
        <meta name="twitter:description" content="Tọa lạc tại thành phố Nha Trang, MASOVA HOTEL cung cấp chỗ nghỉ 4 sao với nhà hàng và quầy bar. Khách sạn này nằm gần Trung tâm Thuyền buồm Việt Nam và cách quán Sailing Club chưa đầy 1 km. Chỗ nghỉ này có WiFi miễn phí." />
        <meta name="twitter:image" content="https://demo.sweetsoft.vn/masova-hotel/assets/images/share.jpg" />

        <meta name="dc.created" content="2020-10-09" />
        <meta name="dc.publisher" content="Sweetsoft JSC" />
        <meta name="dc.rights.copyright" content="Masova Hotel" />
        <meta name="dc.creator.name" content="Sweetsoft JSC" />
        <meta name="dc.creator.email" content="info@nhatrangxanh.com" />

        <meta name="geo.position" content="12.288247, 109.205426" />
        <meta name="geo.placename" content="Nha Trang, Khanh Hoa, Viet Nam" />
        <meta name="geo.country" content="VN" />
        <meta name="geo.region" content="VN-65" />

        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="3 days" />
        <meta name="rating" content="general" />
        <link rel="alternate" href="https://demo.sweetsoft.vn/masova-hotel/index.htm" hreflang="vi-en" />
        <link href="https://demo.sweetsoft.vn/masova-hotel/index.htm" rel="canonical" id="canonicalLink" />
        <meta name="copyright" content="Masova Hotel" />
        <meta name="author" content="Sweetsoft JSC" />

        <link rel="stylesheet" type="text/css" href="assets/css/service-list.css" />
    </head>

    <body>
        <!-- header -->
        <div class="wrapHeader">
            <div class="wrapHeaderTop"></div>

            <div class="wrapHeaderBottom">
                <div class="container-xl containerHeaderBottom">
                    <div class="clearfix contentHeaderBottom">
                        <a href="#" title="Menu" class="btnShowMenuHeaderMobile">
                            <div class="iconShow"><i class="fas fa-bars"></i></div>
                            <div class="iconHidden"><i class="fas fa-times"></i></div>
                        </a>

                        <h1 class="wrapLogoHeaderBottom">
                            <a class="linkLogoHeaderBottom" href="index.htm" title="Masova Hotel"><img src="assets/images/logo.png" class="imgLogoHeaderBottom" alt="Masova Hotel" /></a>
                        </h1>

                        <div class="wrapBtnBookRoomHeader">
                            <button type="button" name="book-now" class="btnType1 btnBookNowRoomHeader" data-toggle="modal" data-target="#modalFormBookRoom">Book now</button>
                        </div>

                        <div class="wrapCloseMenuHeaderMobile"></div>
                        <div class="wrapMenuMainHeaderBottom">
                            <ul class="listMenuMainHeaderBottom">
                                <li class="listItemMenuMainHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="index.htm" title="Trang chủ">Trang chủ</a>
                                </li>

                                <li class="listItemMenuMainHeaderBottom menuSubHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="ds-phong.htm" title="Phòng">Phòng</a>
                                    <div class="btnDropdowMenuSubHeaderBottom"><i class="fas fa-chevron-down"></i></div>

                                    <div class="wrapListMenuSubHeaderBottom">
                                        <ul class="listMenuSubHeaderBottom">
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="phong.htm" title="Deluxe">Deluxe</a></li>

                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="phong.htm" title="Deluxe hướng biển">Deluxe hướng biển</a></li>

                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="phong.htm" title="Senior Deluxe hướng biển">Senior Deluxe hướng biển</a></li>
                                            
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="phong.htm" title="Suite Hướng biển">Suite Hướng biển</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="listItemMenuMainHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="ds-dich-vu.htm" title="Dịch vụ">Dịch vụ</a>
                                </li>

                                <li class="listItemMenuMainHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="ds-khuyen-mai.htm" title="Khuyến mãi">Khuyến mãi</a>
                                </li>

                                <li class="listItemMenuMainHeaderBottom menuSubHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="javascript:void(0)" title="Thư viện">Thư viện</a>
                                    <div class="btnDropdowMenuSubHeaderBottom"><i class="fas fa-chevron-down"></i></div>

                                    <div class="wrapListMenuSubHeaderBottom">
                                        <ul class="listMenuSubHeaderBottom">
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="ds-hinh-anh.htm" title="Thư viện hình ảnh">Thư viện hình ảnh</a></li>

                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="ds-video.htm" title="Thư viện video">Thư viện video</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="listItemMenuMainHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="lien-he.htm" title="Liên hệ">Liên hệ</a>
                                </li>
                            </ul>

                            <div class="headerTopLeft">
                                <ul class="clearfix listMenuHeaderTop">
                                    <li class="listItemHeaderTop"><a target="_blank" class="listLinkHeaderTop" href="https://www.google.com/maps/place/MASOVA+HOTEL/@12.2264158,109.2001686,15z/data=!4m2!3m1!1s0x0:0x2896ab179721dcf0?sa=X&ved=2ahUKEwitrez7kqfsAhXIG6YKHSq-CuIQ_BIwDHoECBYQBQ" title="100A8 - 100A9, Trần Phú, Lộc Thọ, Thành phố Nha Trang, Khánh Hòa" target="_blank"><i class="fas fa-map-marker-alt"></i> 100A8 - 100A9, Trần Phú, Lộc Thọ, Thành phố Nha Trang, Khánh Hòa</a></li>
                                    <li class="listItemHeaderTop"><a class="listLinkHeaderTop" href="tel:02583905999" title="0258 3905 999"><i class="fas fa-phone"></i> Hotline: 0258 3905 999</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="headerTopRight">
                            <ul class="clearfix listMenuHeaderTop menuSearchAndLanguage">
                                <li class="listItemHeaderTop menuSubHeaderBottom menuLanguageHeaderBottom">
                                    <a class="listLinkMenuMainHeaderBottom" href="javascript:void(0)" title="Viet Nam"><img src="assets/images/langVietNam.jpg" class="imgLanguageHeaderBottom" alt="Viet Nam" /></a>
                                    <div class="btnDropdowMenuSubHeaderBottom"><i class="fas fa-chevron-down"></i></div>

                                    <div class="wrapListMenuSubHeaderBottom">
                                        <ul class="listMenuSubHeaderBottom">
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="javascript:void(0)" title="Viet Nam"><img src="assets/images/langVietNam.jpg" alt="Viet Nam" /></a></li>
                                            
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="javascript:void(0)" title="English"><img src="assets/images/langEnglish.jpg" alt="English" /></a></li>
                                            
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="javascript:void(0)" title="Viet Nam"><img src="assets/images/langChinese.jpg" alt="Chinese" /></a></li>
                                            
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="javascript:void(0)" title="English"><img src="assets/images/langKorean.jpg" alt="Korean" /></a></li>
                                            
                                            <li class="listItemMenuSubHeaderBottom"><a class="listLinkMenuSubHeaderBottom" href="javascript:void(0)" title="English"><img src="assets/images/langRussian.jpg" alt="English" /></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->

        <!-- breadcrumbs -->
        <div class="wrapBreadCrumb">
            <div class="wrapImgResize wrapImgBreadcrumb">
                <img src="assets/images/breadcumb2.jpg" class="imgBreadcrumbs" alt="Dịch Vụ" />
            </div>

            <div class="wrapTextBreadcrumb">
                <div class="container-xl containerTextBreadcrumb">
                    <h1 class="wrapTitleType2 titlePageCurrentBreadcrumb">Dịch Vụ</h1>

                    <nav aria-label="breadcrumb" class="navListBreadcrumb">
                        <ol class="breadcrumb olListBreqadcrumb">
                            <li class="breadcrumb-item itemListBreadcrumb"><a href="index.htm" class="linkListBreadcrumb" title="Trang chủ">Trang chủ</a></li>
                            <li class="breadcrumb-item itemListBreadcrumb active" aria-current="page">Dịch Vụ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- end breadcrumbs -->

        <!-- service list -->
        <div class="wrapPageServiceList">
            <div class="container-xl containerPageServiceList">
                <div class="contentPageServiceList">
                    <div class="row rowPageServiceList">
                        <div class="col-sm-6 col-lg-4 elementSlideLatestNews">
                            <a href="dich-vu.htm" title="GYM" class="wrapImgResize imgSquare wrapImgItemLatestNews">
                                <img src="assets/images/service-1.jpg" alt="GYM" class="imgItemLatestNews" />
                            </a>

                            <div class="wrapInfoItemLatestNews">
                                <div class="wrapOverInfoItemLatestNews">
                                    <a href="dich-vu.htm" class="wrapTitleType3 linkTitleLatestNews" title="Gym"><h2 class="titleHeadingLatestNews">Gym</h2></a>

                                    <h3 class="descriptionLatestNews">Sở hữu một phòng gym trong khuôn viên khách sạn không còn là một lựa chọn, mà dần trở thành một yếu tố cần thiết của cơ sở hạ tầng, dịch vụ khách sạn. Hơn nữa, xu hướng này đang phát triển mạnh mẽ ở nước ngoài. Theo một cuộc khảo sát gần đây về dịch vụ của Hotels.com, hơn 56% người tham gia cho rằng điều quan trọng khi đi du lịch là phải có phòng gym ngay tại khách sạn họ nghỉ ngơi.</h3>

                                    <a href="dich-vu.htm" class="btnType1 btnWatchMoreService" title="Xem thêm">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 elementSlideLatestNews">
                            <a href="dich-vu.htm" title="Nhà hàng" class="wrapImgResize imgSquare wrapImgItemLatestNews">
                                <img src="assets/images/restaurant-1.jpg" alt="Nhà hàng" class="imgItemLatestNews" />
                            </a>

                            <div class="wrapInfoItemLatestNews">
                                <div class="wrapOverInfoItemLatestNews">
                                    <a href="dich-vu.htm" class="wrapTitleType3 linkTitleLatestNews" title="Nhà hàng"><h2 class="titleHeadingLatestNews">Nhà hàng</h2></a>

                                    <h3 class="descriptionLatestNews">Nhà hàng Masova Hotel gây ấn tượng mạnh mẽ với view biển trọn vẹn là địa điểm tuyệt vời để bắt đầu ngày mới với bữa sáng thịnh soạn. Chúng tôi phục vụ bữa sáng tự chọn với thực đơn các món Âu – Á được chế biến công phu theo chuẩn mực ẩm thực.</h3>

                                    <a href="dich-vu.htm" class="btnType1 btnWatchMoreService" title="Xem thêm">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 elementSlideLatestNews">
                            <a href="dich-vu.htm" title="Hồ bơi" class="wrapImgResize imgSquare wrapImgItemLatestNews">
                                <img src="assets/images/pool-1.jpg" alt="Hồ bơi" class="imgItemLatestNews" />
                            </a>

                            <div class="wrapInfoItemLatestNews">
                                <div class="wrapOverInfoItemLatestNews">
                                    <a href="dich-vu.htm" class="wrapTitleType3  linkTitleLatestNews" title="Hồ bơi"><h2 class="titleHeadingLatestNews">Hồ bơi</h2></a>

                                    <h3 class="descriptionLatestNews">Phơi mình dưới ánh nắng ấm áp của vùng biển nhiệt đới và hòa vào làn nước xanh mát tại hồ bơi vô cực của chúng tôi trên tầng 7 của Khách sạn. Còn gì tuyệt vời hơn khi ngâm mình thật lâu và thư giãn tại hồ bơi sau một ngày dài ngắm cảnh đẹp tại Nha Trang. Hồ bơi được thiết kế độc đáo với chất liệu kính trong suốt mang đến trải nghiệm hoàn toàn mới cho quý khách. </h3>

                                    <a href="dich-vu.htm" class="btnType1 btnWatchMoreService" title="Xem thêm">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 elementSlideLatestNews">
                            <a href="dich-vu.htm" title="Nhà hàng" class="wrapImgResize imgSquare wrapImgItemLatestNews">
                                <img src="assets/images/restaurant-1.jpg" alt="Nhà hàng" class="imgItemLatestNews" />
                            </a>

                            <div class="wrapInfoItemLatestNews">
                                <div class="wrapOverInfoItemLatestNews">
                                    <a href="dich-vu.htm" class="wrapTitleType3 linkTitleLatestNews" title="Nhà hàng"><h2 class="titleHeadingLatestNews">Nhà hàng</h2></a>

                                    <h3 class="descriptionLatestNews">Nhà hàng Masova Hotel gây ấn tượng mạnh mẽ với view biển trọn vẹn là địa điểm tuyệt vời để bắt đầu ngày mới với bữa sáng thịnh soạn. Chúng tôi phục vụ bữa sáng tự chọn với thực đơn các món Âu – Á được chế biến công phu theo chuẩn mực ẩm thực.</h3>

                                    <a href="dich-vu.htm" class="btnType1 btnWatchMoreService" title="Xem thêm">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 elementSlideLatestNews">
                            <a href="dich-vu.htm" title="Hồ bơi" class="wrapImgResize imgSquare wrapImgItemLatestNews">
                                <img src="assets/images/pool-1.jpg" alt="Hồ bơi" class="imgItemLatestNews" />
                            </a>

                            <div class="wrapInfoItemLatestNews">
                                <div class="wrapOverInfoItemLatestNews">
                                    <a href="dich-vu.htm" class="wrapTitleType3  linkTitleLatestNews" title="Hồ bơi"><h2 class="titleHeadingLatestNews">Hồ bơi</h2></a>

                                    <h3 class="descriptionLatestNews">Phơi mình dưới ánh nắng ấm áp của vùng biển nhiệt đới và hòa vào làn nước xanh mát tại hồ bơi vô cực của chúng tôi trên tầng 7 của Khách sạn. Còn gì tuyệt vời hơn khi ngâm mình thật lâu và thư giãn tại hồ bơi sau một ngày dài ngắm cảnh đẹp tại Nha Trang. Hồ bơi được thiết kế độc đáo với chất liệu kính trong suốt mang đến trải nghiệm hoàn toàn mới cho quý khách. </h3>

                                    <a href="dich-vu.htm" class="btnType1 btnWatchMoreService" title="Xem thêm">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 elementSlideLatestNews">
                            <a href="dich-vu.htm" title="GYM" class="wrapImgResize imgSquare wrapImgItemLatestNews">
                                <img src="assets/images/service-1.jpg" alt="GYM" class="imgItemLatestNews" />
                            </a>

                            <div class="wrapInfoItemLatestNews">
                                <div class="wrapOverInfoItemLatestNews">
                                    <a href="dich-vu.htm" class="wrapTitleType3 linkTitleLatestNews" title="Gym"><h2 class="titleHeadingLatestNews">Gym</h2></a>

                                    <h3 class="descriptionLatestNews">Sở hữu một phòng gym trong khuôn viên khách sạn không còn là một lựa chọn, mà dần trở thành một yếu tố cần thiết của cơ sở hạ tầng, dịch vụ khách sạn. Hơn nữa, xu hướng này đang phát triển mạnh mẽ ở nước ngoài. Theo một cuộc khảo sát gần đây về dịch vụ của Hotels.com, hơn 56% người tham gia cho rằng điều quan trọng khi đi du lịch là phải có phòng gym ngay tại khách sạn họ nghỉ ngơi.</h3>

                                    <a href="dich-vu.htm" class="btnType1 btnWatchMoreService" title="Xem thêm">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wrapPaggingList">
                        <a href="#" class="linkPaggingList active" title="1"><span>1</span></a>
                        <a href="#" class="linkPaggingList" title="1"><span>2</span></a>
                        <a href="#" class="linkPaggingList" title="1"><span>3</span></a>
                        <a href="#" class="linkPaggingList" title="1"><span>4</span></a>
                        <a href="#" class="linkPaggingList" title="1"><span>5</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end service list -->

        <!-- footer -->
        <div class="wrapFooter">
            <div class="container-xl containerFooter">
                <div class="contentFooter">
                    <div class="row rowFooter">
                        <div class="col-md-4 colItemMapFooter">
                            <div class="contentItemMapFooter">
                                <div class="titleMapFooter">Bản đồ</div>

                                <div class="descriptionmapFooter">Khách sạn nằm ở trug tâm thành phố, gần các địa điểm du lịch nổi tiếng</div>

                                <a href="#" class="btnType1 btnWatchMap" title="Xem bản đồ"><i class="fas fa-map-marker-alt"></i> Xem bản đồ <i class="fas fa-chevron-right"></i></a>

                                <div class="titleMenuFooter">Địa điểm nổi tiếng</div>

                                <ul class="wrapMenuFooetr">
                                    <li class="itemMenuFooetr">
                                        <a href="#" class="linkMenuFooter" title="Bãi biển Nha Trang">1. Bãi biển Nha Trang</a>
                                        <div class="wrapFromMapFooter">3.2 km</div>
                                    </li>

                                    <li class="itemMenuFooetr">
                                        <a href="#" class="linkMenuFooter" title="Nhà thờ núi Nha Trang">2. Nhà thờ núi Nha Trang</a>
                                        <div class="wrapFromMapFooter">5.6 km</div>
                                    </li>

                                    <li class="itemMenuFooetr">
                                        <a href="#" class="linkMenuFooter" title="Chùa Long Sơn">3. Chùa Long Sơn</a>
                                        <div class="wrapFromMapFooter">6.0 km</div>
                                    </li>

                                    <li class="itemMenuFooetr">
                                        <a href="#" class="linkMenuFooter" title="Tháp Chàm Ponagar">4. Tháp Chàm Ponagar</a>
                                        <div class="wrapFromMapFooter">8.5 km</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8 colItemFooter">
                            <div class="contentItemFooter">
                                <div class="media mediaAboutFooter">
                                    <img src="assets/images/logo-footer.png" class="imgLogoFooter" alt="Masova Hotel" />

                                    <div class="media-body mediaBodyAboutFooetr">
                                      <div class="wrapTextAboutFooetr">Thư giản, nghỉ ngơi, đưa gia đình và bạn bè cùng nhau tham gia một chuyến phiêu lưu để nhớ về mùa hè này với chương trình khuyến mãi mùa hè tuyệt vời của chúng tôi! Khách sạn nằm ở trug tâm thành phố, gần các địa điểm du lịch nổi tiếng</div>
                                    </div>
                                </div>
                                            
                                <div class="wrapContactAndLinkFooter">
                                    <div class="row rowContactAndLinkFooter">
                                        <div class="col-md-6 colContactFooter">
                                            <div class="titleMenuFooter">Liên hệ</div>

                                            <div class="contentContactFooter">                                                
                                                <div class="itemContactFooter"><i class="fas fa-map-marker-alt"></i> <a href="#" title="100A8 - 100A9, Trần Phú, Lộc Thọ, Thành phố Nha Trang, Khánh Hòa">100A8 - 100A9, Trần Phú, Lộc Thọ, Thành phố Nha Trang, Khánh Hòa</a></div>

                                                <div class="itemContactFooter"><i class="fas fa-phone"></i> <a href="#" title="0258 3905 999">0258 3905 999</a></div>

                                                <div class="itemContactFooter"><i class="fas fa-envelope"></i> <a href="#" title="info@masovanhatranghotel.com">info@masovanhatranghotel.com</a></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 colLinkFooter">
                                            <div class="titleMenuFooter">Liên kết</div>

                                            <div class="contentContactFooter">
                                                <div class="row rowMeuLinkFooter">
                                                    <div class="col-md-6 colItemLinkMenuFooter">
                                                        <a href="index.htm" title="Trang chủ">Trang chủ</a>
                                                    </div>

                                                    <div class="col-md-6 colItemLinkMenuFooter">
                                                        <a href="ds-khuyen-mai.htm" title="Khuyến mãi">Khuyến mãi</a>
                                                    </div>

                                                    <div class="col-md-6 colItemLinkMenuFooter">
                                                        <a href="ds-phong.htm" title="Phòng">Phòng</a>
                                                    </div>

                                                    <div class="col-md-6 colItemLinkMenuFooter">
                                                        <a href="gioi-thieu.htm" title="Giới thiệu">Giới thiệu</a>
                                                    </div>

                                                    <div class="col-md-6 colItemLinkMenuFooter">
                                                        <a href="ds-dich-vu.htm" title="Dịch vụ">Dịch vụ</a>
                                                    </div>

                                                    <div class="col-md-6 colItemLinkMenuFooter">
                                                        <a href="lien-he.htm" title="Liên hệ">Liên hệ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- copy right and designed -->
                                <div class="wrapCopyRightAndDesigned">
                                    <div class="clearfix contentCopyRightAndDesigned">
                                        <div class="wrapTextCopyRightAndDesigned">
                                            <span class="textCopyRightFooter">© 2020 Masova Hotel</span> <span class="texDesignedFooter">Thiết kết và phát triển bởi <a href="https://www.sweetsoft.vn/" target="_blank" title="thiết kế web Nha Trang,thiet ke web nha trang,thiết kế web Khánh Hòa,công ty,phần mềm,tin học">Sweetsoft JSC</a></span>
                                        </div>
                    
                                        <div class="listFanpageFooter">
                                            <a href="#" class="linkFanpageFooter" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#" class="linkFanpageFooter" title="Youtube"><i class="fab fa-youtube"></i></a>
                                            <a href="#" class="linkFanpageFooter" title="Instagram"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end copy right and designed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer -->

        <!-- btn scroll top -->
        <div class="btnScrollTop"><i class="fas fa-angle-up"></i></button></div>
        <!-- end btn scroll top -->

        <!-- btn show book room -->
        <button type="button" class="btnType1 btnShowBookRoom" name="book-room">Book now</button>
        <!-- end btn show book room -->

        <!-- modal form book room -->
        <div class="modal fade modalFormBookRoom" id="modalFormBookRoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body modalBodyFormBookRoom">
                        <div class="wrapTitleType1 titleMainFormBookRoom">Book a room</div>
                        <a href="#" class="btnCloseFormBookRoomMobile" data-dismiss="modal" title="Close Form book a room"><i class="fas fa-times"></i></a>
    
                        <div class="listInputBookRoom">
                            <div class="row rowInputBookRoom">
                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="far fa-calendar-alt"></i></div>
    
                                        <input type="text" readonly="true" class="form-control inputChooseDateCheckIn" placeholder="Check-in" />
                                    </div>
                                </div>
    
                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="far fa-calendar-alt"></i></div>
    
                                        <input type="text" readonly="true" class="form-control inputChooseDateCheckOut" placeholder="Check-out" />
                                    </div>
                                </div>
    
                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-plus-circle"></i></div>
    
                                        <select class="form-control selectPciker inputNumberAdult">
                                            <option>Người lớn</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-plus-circle"></i></div>
    
                                        <select class="form-control selectPciker inputNumberChildren">
                                            <option>Trẻ em</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-home"></i></div>
    
                                        <select class="form-control selectPciker formControlRoomSelect">
                                            <option>Chọn phòng</option>
                                            <option value="1">Deluxe</option>
                                            <option value="2">Deluxe hướng biển</option>
                                            <option value="3">Senior Deluxe hướng biển</option>
                                            <option value="4">Suite Hướng biển</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-sort-numeric-up-alt"></i></div>
    
                                        <input type="number" class="form-control" placeholder="Số lượng phòng" />
                                    </div>
                                </div>

                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-user"></i></div>
    
                                        <input type="text" class="form-control" placeholder="Nhập họ và tên" />
                                    </div>
                                </div>

                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-envelope"></i></div>
    
                                        <input type="text" class="form-control" placeholder="Nhập email" />
                                    </div>
                                </div>

                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-phone"></i></div>
    
                                        <input type="text" class="form-control" placeholder="Nhập Số điện thoại" />
                                    </div>
                                </div>

                                <div class="col-md-6 colInputBookRoom">
                                    <div class="contentInputBookRoom">
                                        <div class="wrapIconFrmCtrBookRoom"><i class="fas fa-file-alt"></i></div>
    
                                        <input type="text" class="form-control" placeholder="Nhập ghi chú" />
                                    </div>
                                </div>
    
                                <div class="col-md-12 colInputBookRoom colBtnBookRoom">
                                    <div class="contentInputBookRoom">
                                        <button type="button" name="book-now" class="btnType1 btnBookNowRoomForm">Book now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <!-- end modal form book room -->

        <script src="assets/js/service-list.js"></script>
    </body>
</html>